/****** GENERAL******/
body {
  margin: 0px;
  font-family: "roboto", sans-serif;
  background-color: #F7F7F7;
  box-sizing: border-box;
}

/****** HEADER******/
header {
  position: relative;
  font-size: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header .logo {
  width: 162px;
  height: 44px;
  margin-top: 14px;
  margin-bottom: 5px;
}

/****** LOCATION ******/
.location {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  color: #353535;
  background-color: #EAEAEA;
}

.location h2 {
  font-size: 16px;
  font-weight: 500;
}

/****** EXPLORER *******/
.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 57px;
}
.explorer h2 {
  margin-top: 39px;
  margin-bottom: 0;
  padding-left: 42px;
  padding-right: 58px;
}

.explorer p {
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 27px;
}

.btn {
  display: flex;
  width: 218px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s;
}
.btn:hover {
  background: linear-gradient(to top, #be9aea 0%, #ffafe9 100%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  transform: scale(1.05);
}

/****** FUNCTIONING ******/
.functioning {
  background: white;
  padding: 48px 20px 45px;
}
.functioning ol {
  padding: 0;
}
.functioning li {
  display: flex;
  height: 72px;
  background-color: #f7f7f7;
  margin: 0 20px 23px 13px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.functioning li i {
  color: #7E7E7E;
}
.functioning li i:hover {
  color: #9356DC;
}
.functioning .number {
  display: flex;
  position: absolute;
  width: 24px;
  height: 24px;
  background: #9356DC;
  color: #fff;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  left: 21px;
}

/******RESTAURANTS******/
.restaurants h2 {
  margin-top: 54px;
  margin-left: 20px;
}

.restaurants-cards {
  padding: 0 18px 66px;
}
.restaurants-cards .cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants-cards .cards .card {
  position: relative;
  width: auto;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.restaurants-cards .cards .card img {
  width: 100%;
  height: 66%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

a {
  text-decoration: none;
  color: black;
}

.card-text {
  display: flex;
  flex-direction: column;
}
.card-text .card-title {
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 16px 0 5px 13px;
}
.card-text .card-subtitle {
  left: 3.82%;
  right: 23.53%;
  top: 85.66%;
  bottom: 4.78%;
  font-size: 17px;
  font-weight: 300;
  padding: 0 0 12px 13px;
  margin: 0;
}

.heart {
  position: absolute;
  right: 25px;
  bottom: 40px;
  width: 22px;
  height: 22px;
}

.new {
  display: flex;
  background: #99E2D0;
  width: 80px;
  height: 29px;
  color: #008766;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  right: 20px;
  top: calc(14% - 14.5px);
}

/******FOOTER******/
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #353535;
}
footer h4 {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #fff;
  padding: 22px 25px;
  margin: 0;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: #fff;
  padding: 0 22px;
  gap: 7px;
  margin: 0;
}
ul i {
  width: 11px;
}
ul span {
  margin: 11px;
}
ul a {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
