@import "./variables.scss";
@import "./menus_restaurants.scss";
@import "./keyframes.scss";

/****** GENERAL******/

body {
    margin: 0px;
    font-family: "roboto", sans-serif;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

/****** LOADER ******/
.loader {
    position: fixed;
    background: #f1f1f1;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    overflow: hidden;
    animation: exit-loader 0.2s 3s ease forwards;

    .dot {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: linear-gradient($primary-color 0%, $secondary-color 100%);
        margin: 0 15px;
        animation: loader infinite 0.3s alternate;
    }

    .d2 {
        animation-delay: 0.05s;
    }

    .d3 {
        animation-delay: 0.1s;
    }
}

/****** HEADER ******/

header {
    position: relative;
    font-size: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    .logo {
        width: 162px;
        height: 44px;
        margin-top: 14px;
        margin-bottom: 5px;
    }
}

/****** LOCATION ******/

.location {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 17px;
    color: #353535;
    background-color: $background-location;
}

.location h2 {
    font-size: 16px;
    font-weight: 500;
}

/****** EXPLORER *******/

.explorer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 57px;
    background: $background-explorer-restaurants;

    h2 {
        margin-top: 39px;
        margin-bottom: 0;
        padding-left: 42px;
        padding-right: 58px;
    }
}

.explorer p {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 27px;
}

.btn {
    display: flex;
    width: 218px;
    height: 50px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    background: $btn-linear-gradient;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s;

    &:hover {
        background: $btn-linear-gradient-clair;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        transform: scale(1.05);
    }
}


/****** FUNCTIONING ******/

.functioning {
    background: white;
    padding: 48px 20px 45px;

    ol {
        padding: 0;

        li {
            display: flex;
            height: 72px;
            background-color: #f7f7f7;
            margin: 0 20px 23px 13px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            align-items: center;
            justify-content: space-evenly;

            i {
                color: #7E7E7E;

                &:hover {
                    color: $primary-color;
                }

            }
        }
    }
}

.number {
    display: flex;
    position: absolute;
    width: 24px;
    height: 24px;
    background: $primary-color;
    color: #fff;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    left: 21px;
}


/******RESTAURANTS******/
.restaurants {
    background: $background-explorer-restaurants;

    h2 {
        padding-top: 54px;
        margin-left: 20px;
    }
}

.restaurants-cards {
    padding: 0 18px 66px;

    .cards {
        display: flex;
        flex-direction: column;
        gap: 18px;

        .card {
            position: relative;
            width: auto;
            height: 251px;
            border-radius: 15px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

            img {
                width: 100%;
                height: 66%;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
            }

        }
    }
}

a {
    text-decoration: none;
    color: black;
}

.new {
    display: flex;
    background: $tertiary-color;
    width: 80px;
    height: 29px;
    color: #008766;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    right: 20px;
    top: calc(14% - 29px/2);
}

.card-content {
    display: flex;
    justify-content: space-between;

    .card-text {
        display: flex;
        flex-direction: column;

        .card-title {
            font-size: 18px;
            line-height: 20px;
            margin: 0;
            padding: 16px 0 5px 13px;

        }

        .card-subtitle {
            font-size: 17px;
            font-weight: 300;
            padding: 0 0 12px 13px;
            margin: 0;
        }
    }
}


.heart {
    position: absolute;
    right: 25px;
    bottom: 40px;
    width: 22px;
    height: 21px;

    &:hover {
        .heart-empty {
            opacity: 0;
        }

        .heart-full {
            opacity: 1;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            background-image: linear-gradient(0deg, $primary-color, $secondary-color);
        }
    }

    .heart-empty {
        position: absolute;
        opacity: 1;
        width: 22px;
        height: 21px;
    }

    .heart-full {
        position: absolute;
        opacity: 0;
        width: 22px;
        height: 21px;
        transition: all 2s;
    }
}

/******FOOTER******/
footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #353535;

    h4 {
        font-family: "Shrikhand";
        font-size: 18px;
        font-weight: 400;
        font-style: italic;
        color: #fff;
        padding: 22px 25px;
        margin: 0;

    }
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: #fff;
    padding: 0 22px 22px 22px;
    gap: 7px;
    margin: 0;

    i {
        width: 11px;
    }

    span {
        margin: 11px;
    }

    a {
        color: #fff;
    }
}

/****** Media queries ******/

/****** Tablette ******/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }

    .explorer {
        padding-bottom: 30px;

        h2 {
            margin: 30px 0 18px 0;
            font-size: 30px;
        }
    }

    .functioning h2 {
        margin-left: 20px;
    }

    .choice {
        position: relative;
        margin-left: 20px;

        .number {
            left: 0px;
        }
    }



    .restaurants-cards {
        padding-bottom: 66px;

        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 66px;
        }
    }

    footer {
        flex-direction: row;
        align-items: baseline;

        ul {
            flex-direction: row;
        }
    }
}

/****** Desktop ******/
@media screen and (min-width: 1024px) {
    .wrapper {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

    .explorer {
        padding-bottom: 30px;

        h2 {
            margin: 30px 0 18px 0;
            font-size: 40px;
        }
    }

    .functioning {
        display: flex;
        flex-direction: column;
        padding: 0;

        h2 {
            margin-left: 20px;
        }

        .choice {
            display: flex;
            flex-direction: row;
            gap: 25px;
            margin-left: 20px;

            li {
                width: 322px;

                .number {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    left: -35px;
                }
            }
        }

    }

    .restaurants-cards {
        padding: 0 20px 30px;

        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 50px;
            column-gap: 100px;
        }
    }

    footer {
        display: flex;
        padding: 30px 25px;
        align-items: baseline;
        flex-direction: row-reverse;

        ul {
            flex-direction: row;
        }
    }
}