/****** GENERAL******/
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$background-emplacement: #EAEAEA;
$background-explorer: #F7F7F7;
$btn-linear-gradient: linear-gradient(to top, $couleur-primaire 0%, $couleur-secondaire 100%);
$btn-linear-gradient-clair: linear-gradient(to top,#be9aea 0%, #ffafe9 100%);


body {
    margin: 0px;
    font-family: "roboto", sans-serif;
    background-color: #F7F7F7;
    box-sizing: border-box;
}

/****** HEADER******/

header {
    position: relative;
    font-size: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
/****** LOGO ******/
header .logo {
    width: 162px;
    height: 44px;
    margin-top: 14px;
    margin-bottom: 5px;
}

/****** LOCATION ******/

.emplacement {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 17px;
    color: #353535;
    background-color: #EAEAEA;
}

.emplacement h2 {
    font-size: 16px;
    font-weight: 500;
}
/****** EXPLORER *******/

.explorer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 57px;

    &__h2 {
    margin-top: 39px;
    margin-bottom: 0;
    padding-left: 42px;
    padding-right: 58px;
    }
}
.explorer p {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 27px;
    }


.btn {
    display: flex;
    width: 218px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    background: $btn-linear-gradient;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.btn :hover {
    background: $btn-linear-gradient-clair;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

/****** FONCTIONNEMENT ******/

.fonctionnement {
    background: white;
    padding: 48px 20px 68px;
}

.fonctionnement h2 {
    padding-left: 20px;
}

.choix li {
    display: flex;
    height: 72.38px;
    background-color: #f7f7f7;
    margin: 0 20px 23px 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
}
