@import "./variables.scss";

/****** GENERAL******/

body {
    margin: 0px;
    font-family: "roboto", sans-serif;
    background-color: #F7F7F7;
    box-sizing: border-box;
}

/****** HEADER******/

header {
    position: relative;
    font-size: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    .logo {
        width: 162px;
        height: 44px;
        margin-top: 14px;
        margin-bottom: 5px;
    }
}

/****** LOCATION ******/

.location {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 17px;
    color: #353535;
    background-color: $background-location;
}

.location h2 {
    font-size: 16px;
    font-weight: 500;
}
/****** EXPLORER *******/

.explorer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 57px;
    h2  {
        margin-top: 39px;
        margin-bottom: 0;
        padding-left: 42px;
        padding-right: 58px;
    }
}
   
.explorer p {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 27px;
}

.btn {
    display: flex;
    width: 218px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    background: $btn-linear-gradient;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    &:hover {
        background: $btn-linear-gradient-clair;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    }
}


/****** FUNCTIONING ******/

.functioning {
    background: white;
    padding: 48px 20px 68px;
    h2 {
        padding-left: 20px;
    }
    li {
        display: flex;
        height: 72px;
        background-color: #f7f7f7;
        margin: 0 20px 23px 0;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        align-items: center;
        justify-content: space-evenly;
        i {
            color: #7E7E7E;
            &:hover {
                color: $primary-color;
            }
        }
    }
}


.number {
    display: flex;
    position: absolute;
    width: 24px;
    height: 24px;
    background: $primary-color;
    color: #fff;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    left: 48px;
}