$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$background-emplacement: #EAEAEA;
$background-explorer: #F7F7F7;
$btn-linear-gradient: linear-gradient(to top, $couleur-primaire 0%, $couleur-secondaire 100%);
$btn-linear-gradient-clair: linear-gradient(to top,#be9aea 0%, #ffafe9 100%);
